/* Footer singleton */
footer.footer {
	background-color: $border-bg-color;
	padding: $section-padding 0 ($section-padding - $element-margin) 0;

	div.footer-nav {

		h1, h2, h3, h4, h5, h6 {
			font-size: $normal-font-size;
		}

		p, ul.footer-nav-group-list {
			margin-bottom: ($element-margin * 0.5);
		}

		ul.footer-nav-group-list {
			list-style: none;
			padding-left: 0;

			> li {
				border-top: 1px solid $border-color;
				padding-left: 0;
				padding: 0.55rem 0;

				> a, > button {
					color: inherit;
					display: block;

					body.no-touch &:hover {
						color: $link-color;
					}
				}

				> a {
					text-decoration: none;
				}

				> button {
					background-color: transparent;
					border: none;
					cursor: pointer;
					padding: 0;
					text-align: left;
					width: 100%;
				}

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}

				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}

	hr {
		margin-bottom: ($element-margin * 0.5);
	}

	div.footer-info {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		font-size: $small-font-size;
		justify-content: space-between;

		div.footer-info-legal > ul.footer-info-legal-link-list.grid, ul.footer-info-contact-list.grid {

			> li {

				> a, > button {
					color: inherit;

					body.no-touch &:hover {
						color: $link-color;
					}
				}

				> a {
					text-decoration: none;
				}

				> button {
					background-color: transparent;
					border: none;
					cursor: pointer;
					padding: 0;
				}
			}
		}

		div.footer-info-legal > ul.footer-info-legal-link-list.grid {
			padding-top: ($block-margin * 0.5);
		}
	}

	@include breakpoint('medium') {

		div.footer-info {
			text-align: center;

			div.footer-info-legal, ul.footer-info-contact-list.grid {
				flex: 0 0 100%;
				max-width: 100%;
			}

			div.footer-info-legal > ul.footer-info-legal-link-list.grid, ul.footer-info-contact-list.grid {
				justify-content: center;
			}

			div.footer-info-legal > ul.footer-info-legal-link-list.grid {
				margin-bottom: ($element-margin * 0.5);
				padding-top: $block-margin;
			}
		}
	}
}